@model BookShop.Models.Book

@{
    ViewData["Title"] = "Details";
}
<div class="container mt-5">
<div class="row">
    <div class="col-md-4">
        <img src="@Model.PictureURL" class="img-fluid" alt="Book cover" />
    </div>

    <div class="col-md-8">
        <h2>@Model.Title</h2>
        <p>@Model.Description</p>
        <hr />

        <dl class="row">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PublicationDate)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.PublicationDate)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Price)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Price)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ISBN)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.ISBN)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.BookCategory)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.BookCategory)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Author.Name)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Author.Name)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Author.LastName)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Author.LastName)</dd>
        </dl>

        <div class="d-flex justify-content-between">
            <a asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id" class="btn btn-success">
                <i class="bi bi-cart-plus"></i> Dodaj do koszyka
            </a>

            <a asp-action="Index" class="btn btn-secondary">Powrót do listy</a>

                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {

                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edytuj</a>
                }
        </div>
    </div>
</div>
</div>