
@model IEnumerable<BookShop.Models.Book>

@{
    ViewData["Title"] = "Lista Książek";
}

<div class="container mt-5">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 mb-4">
                <div class="card h-100 shadow">
                    <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.PictureURL)" alt="Card image cap">
                    <div class="card-body ">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                        @*<p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>*@
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Czytaj</a>
                                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                                }
                            </div>
                            <small class="text-warning font-weight-bold">@Html.DisplayFor(modelItem => item.Price)</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@await Html.PartialAsync("_CreateItem", "Books")
