@model IEnumerable<BookShop.Models.Book>

@{
    ViewData["Title"] = "Lista Książek";
}


<div class="row mt-5">
    @foreach (var item in Model)
    {   
        @*var subDescription = item.Description.Substring(0, 150);*@
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                 <div class="mx-auto">
                    <img class="center m-3" src="@Html.DisplayFor(modelItem => item.PictureURL)" alt="Card image cap" width="141" height="204">
                </div>
                
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h5>
                    <h6 class="text-warning font-weight-bold">@Html.DisplayFor(modelItem => item.Price)</h6>
                    <div class="btn-group">
                        <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Czytaj</a>
                        @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edytuj</a>
                        }
                        
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("_CreateItem", "Books")
